<%- include('partials/header.ejs')%>
<body>

    <%- include('partials/navbar.ejs')%>
    <main class="container">
        <h1> Bem vindo A Página</h1>
    <h3> <%=nome %> gosta de <%= linguagem%> </h3>
    </main>
    
    
</body>
<%- include('partials/footer.ejs')%>